body {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradiente azul */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.error-message{
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}